{% extends 'textmessages/base.html' %}

{% block signin-form %}
<div class="signin">
  <form action="" method="POST">
    {% csrf_token %}
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body text-center">
            <div class="mb-3">
              <label for="username">Username: </label>
              <input type="text" name="username">
            </div>
            <div class="mb-3">
              <label for="password">Password: </label>
              <input type="password" name="password">
            </div>
            <button type="submit" value="Submit" class="btn btn-primary btn-sm mt-1">Sign In</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock %}

{% block new-signin-form %}

{% endblock %}
